body{
	margin: 0;
	font-family: Roboto
	
}
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 72px;
}
.main-header-logo {
    position: unset;
    flex-shrink: 0;
    margin-right: 10px;
}


.main-header-menu {
    margin: 0;
}

.main-header-menu nav {
    text-align: center;
    justify-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 450px;
}

.main-header-menu nav a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 

.main-header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.main-header-menu li a:hover:not(.active) {
    background-color: rgb(175, 175, 175);
}

.main-header-menu nav li{
    float:left;
    width:200px;
    padding:5px 0px;
    background-color:rgb(255, 255, 255);
    border:1px solid rgb(255, 255, 255);
    text-align:center;
    color:rgb(0, 0, 0);
    margin: 10px;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 1.6;
}

.main-header-buttons {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 1fr 1fr;
    width: 500px;
}

.main-header-space {
    position: relative;
    height: 40px;
    contain: size layout;
    width: 100%;
    z-index: 1;
}

.cabecera{
	background-image: url('../imagenes/default-bg.jpg');
	height: 400px;
	background-size: contain;
	background-position: center;
	width: 100%;
}

.cabecera-contenido {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(0,0,0,0.8);
}
.cabecera-superior{
	display: flex;
	justify-content: space-between;
}
.slogan{
    justify-content: center;
	width: 70%;
	padding: 20px 20px;
    text-align: center;
    margin:auto auto;
    color: #fff;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    line-height: 1.3;
    font-size: 2.8rem;
    letter-spacing: -.12rem;
}

@media (max-width: 500px){
	.cabecera{
		
		height: 40%;
		width: 100%;
	}
}

@media (max-width: 700px){
	.slogan{
		font-size: 20px;
	}
}

nav{
	padding-right: 20px;
	padding-top: 20px;
}
.nosotros{
	margin: 0 100px 
}
.nosotros-contenido{
	display: flex;
	justify-content: space-between;
}
.centrado{
	text-align: center;
}
.bloque{
	flex-basis: calc(33.3% - 40px)
}

.acceso{
	background-color: #3609B7;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
}
.adm{
	color: white;	
	text-decoration: none;
}

.site-footer{
	font-size:14px;
	line-height:20px;
	letter-spacing:0px;
	background:#182538;
	color:#6B7A90;
}
.site-footer a{
	color:#6B7A90;
	text-decoration:none;
}
.site-footer a:hover,.site-footer a:active {
	text-decoration:underline;
}
.site-footer::before{
	display:none;
}
.lights-off .site-footer::before{
	display:block;
}

.site-footer-inner{
	position:relative;
    display:flex;
    flex-wrap:wrap;
    padding-top:48px;
    padding-bottom:48px;
}
.footer-brand,.footer-links,.footer-social-links,.footer-copyrightm {
    flex:none;
    width:100%;
    display:inline-flex;
    justify-content:center;
}
.footer-brand,.footer-links,.footer-social-links{
    margin-bottom:24px;
}
.footer-links li+li,.footer-social-links li+li{
    margin-left:16px;
}
.footer-social-links li{
    display:inline-flex;
}
.footer-social-links li a{
    padding:8px;
}
